# This workflow warns the team about P0 issues imediately when they are created.

on:
  schedule:
    - cron: '30 11 * * *'
  workflow_dispatch:
    inputs:
      dry_run:
        description: 'If true, do not post comments (dry run). Accepts "true" or "false". Default true for manual runs.'
        required: false
        default: 'true'

  issues:
    types: [opened]

permissions:
  issues: write
  contents: read


jobs:
  p0_notify_team:
    runs-on: ubuntu-latest
    env:
      DRY_RUN: ${{ github.event.inputs.dry_run || 'false' }}

    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 
      - name: Remind authors of inactive PRs
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DRY_RUN: ${{ env.DRY_RUN }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        with:
          script: |
            const script = require('./.github/scripts/p0_notify_team.js')
            await script({ github, context });